* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: #f0f2f5;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    margin: 0;
    color: #333;
}

.container {
    background: #ffffff;
    padding: 30px;
    border-radius: 10px;
    width: 100%;
    max-width: 1200px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
    color: #4A90E2;
}

input {
    padding: 12px;
    border-radius: 5px;
    border: 1px solid #ddd;
    width: 85%;
    font-size: 16px;
    margin-right: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

button {
    padding: 12px 20px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}

.box {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 3%;
    width: 100%;
}

.conteudo {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
}

.a-fazer,
.fazendo,
.concluido {
    background: #ffffff;
    width: 100%;
    max-width: 350px;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

h2 {
    font-size: 18px;
    margin-bottom: 15px;
    color: #4A90E2;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    padding: 12px;
    margin-bottom: 10px;
    background: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li button {
    padding: 5px 10px;
    background-color: #ff5c5c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

li button:hover {
    background-color: #e94e4e;
}

@media (max-width: 768px) {
    .conteudo {
        flex-direction: column;
        align-items: center;
    }

    .a-fazer,
    .fazendo,
    .concluido {
        max-width: 90%;
    }
}